* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

#carousel {
    display: flex;
    position: relative;
    width: 1200px;
    height: 600px;
    background-color: rosybrown;
}

#carousel-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#img-card {
    position: relative;
    width: 100%;
    height: 100%;
}

#img-caption {
    position: absolute;
    bottom: 0;
    padding: 10px;
    color: white;
    font-size: 1.3rem;
    text-align: end;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.7);
}

#card-slider {
    position: relative;
    right: 0;
    width: 400px;
}

#card-slider i {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    font-size: 1.8rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: gray;
    
}

#card-slider .sliding-imgs {
    filter: brightness(0.4);
}

#card-slider .sliding-imgs.active {
    filter: brightness(1);
    border: 5px solid white;
}

.fa-chevron-up {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%);
}

.fa-chevron-down {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%);
}

.sliding-imgs {
    display: flex;
    width: 100%;
    height: calc(100% / 5);
    object-fit: cover;
}